header,#bodymain {
	background-color: #fab5b6;
}

.main {
	width: 100%;
	padding: 36px 0 65px 0;
}
div#wrapper{
 width:80%;
 font-family: 'DFKai-SB';
 color:#000000;
 /*border:1px solid black;*/
 margin:0 auto;
 padding: 18px 0;
}
.wrapper {
	width: 60%;
	margin: 0 auto;
	position: relative;
}

/*header*/
#h1_header {
	/*background-color: rgba(255,228,225,0.7);*/
	position: relative;
	width: 100%;
	text-align: center;
}

div#logo {
	display: inline-block;
	margin: 0 15px;
	vertical-align: top;
}

img#logo {
	border-radius: 200px;
	height: 80px;
	display: inline-block;
}

h1#title {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
	margin: 15px;
	text-align: center;
	/*vertical-align: top;*/
	/*line-height: 100%;*/
}

/*main*/
h2 {
	font-size: 42px;
	text-align: center;
}

h3 {
	font-size: 24px;
	width: 100%;
	text-align: center;
	margin-bottom: 42px;
}

/*mainform*/
.post_page_form {
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	padding: 42px 0px 50px 0px;
	border-radius:5px;
	margin-bottom: 50px;
	/*text-align: center;*/
}

.formlist {
	width: 100%;
	margin-bottom: 22px;
	position: relative;
}

.formlist p {
	display: inline-block;
	width: 20%;
	text-align: right;
	font-size: 22px;
}

.formlist input {
	font-size: 22px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	height: 60px;
	margin-left: 5px;
	padding-left: 1%;
	border: 1px solid #999;
	border-radius: 8px;
}

.formlist select {
	font-size: 22px;
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	height: 60px;
	margin-left: 5px;
	padding-left: 1%;
	border: 1px solid #999;
	border-radius: 8px;
}

.formlist textarea {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 210px;
	margin-left: 5px;
	padding-left: 1%;
	border: 1px solid #999;
	border-radius: 8px;
}

.postdetail {
	box-sizing: border-box;
	display: inline-block;
	width: 95%;
	margin-left: 2.5%;
	padding: 1%;
	border: 1px solid #999;
	border-radius: 8px;
}

div#verifycode {
	text-align: center;
}

select option {
	box-sizing: border-box;
	display: block;
	min-height: 1.2em;
	padding: 0 2px 1px;
	text-align: center;
}

input#verifyno {
	font-size: 22px;
	width: 200px;
}

img#verifyimg {
	height: 60px;
	vertical-align: middle;
}

input#submit {
	display: block;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
	background-color: #ff704a;
	padding: 15px 74px;
	margin-top: 10px;
	border-radius: 99em;
	color: #fff;
	border: none;
}