*{
	box-sizing: border-box;
	font: 15px verdana, Times New Roman, arial, helvetica, sans-serif, Microsoft JhengHei;
}
html{
	 height: 100%;
}
body{
	 margin:0;
    padding:0;
    background: #000 url(https://png.pngtree.com/thumb_back/fh260/back_pic/05/10/85/72598e504024b48.jpg) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover
}
table#table-1 {
	background-color: #CCCCFF;
	border: 2px solid black;
	text-align: center;
}
#font{
	width:260px;
	height:40px;
	margin:auto;
	margin-top: 1300px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#83b842),
		to(#629721));
	text-align:center;
}

table {
	width: 850px;
	background-color: white;
	margin:auto;
	margin-top: 1px;
	margin-bottom: 2px;
}
#banner{
	max-width: 1240px;
	height:300px;
	margin:auto;
	margin-top:20px;
	text-align:center;
}

th, td {
	border: 1px solid #CCCCFF;
	padding: 1px;
	text-align: center;
}

form {
	margin-bottom: 0px;
}

h3, h4 {
	color: red;
	display: inline;
	margin-right: 5px;
}

a:visited, a:link {
	display:inherit;
	text-align: center;
	color: blue;
	font-weight: bold;
	/* 	text-decoration: none; */
}

a:hover, a:active {
	display:inherit;
	color: red;
	font-weight: bold;
	text-decoration: none;
}
input.button3{
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff
		), color-stop(1, #d1d1d1));
	background: -moz-linear-gradient(center top, #ffffff 5%, #d1d1d1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#d1d1d1');
	background-color: #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding-right: 54px;
	text-decoration: none;
}
input.button3:hover {
    background: orange;
}
input.button2 {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff
		), color-stop(1, #d1d1d1));
	background: -moz-linear-gradient(center top, #ffffff 5%, #d1d1d1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#d1d1d1');
	background-color: #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding-right: 54px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	letter-spacing:10px;
}

input.button2:hover {
    background: orange;
}
@media screen and (max-width:1200px) {
	#banner{
		width:100%;
	}
	table{
		width:100%;
	}
}