* {
	font-family: 'Noto Sans TC', "Helvetica", "Arial","LiHei Pro","Microsoft JhengHei", Verdana, sans-serif;
}

/*select_page_employee css start*/
.chefPic {
	width: 500px;
	height: 500px;
	overflow: hidden;
}

.chefPic img {
	transform: scale(1, 1);
	transition: all 1s ease-out;
}

.chefPic img:hover, .chefPic div:hover {
	transform: scale(1.3, 1.3);
	opacity: .8;
	text-decoration: none;
}
/*select_page_employee css end*/



/* back-end-head circle animation css start*/
.load {
	top: 50%;
	left: 50%;
	transform: translate(0%, 0%);
	/*change these sizes to fit into your project*/
	width: 50px;
	height: 50px;
}

.load hr {
	border: 0;
	margin: 0;
	width: 40%;
	height: 40%;
	position: absolute;
	border-radius: 50%;
	animation: spin 2s ease infinite
}

.load :first-child {
	background: #19A68C;
	animation-delay: -1.5s
}

.load :nth-child(2) {
	background: #F63D3A;
	animation-delay: -1s
}

.load :nth-child(3) {
	background: #FDA543;
	animation-delay: -0.5s
}

.load :last-child {
	background: #193B48
}

@keyframes spin { 
		0%,100%{transform: translate(0)
	}
	25%{
		transform:translate(160%)
	}
	50%{
		transform:translate(160%,160%)
	}
	75%{
		transform:translate(0,160%)
	}
}
/* back-end-head circle animation css end*/